PORT=5000
MONGO_URI=mongodb://127.0.0.1:27017/hosting-control-panel
REDIS_URL=redis://127.0.0.1:6379
QUEUE_NAME=deployment-queue

# Use mock for local demo. Use aws to call real AWS SSM and Lambda.
DEPLOYMENT_MODE=mock
AWS_REGION=ap-south-1
EC2_INSTANCE_ID=i-xxxxxxxxxxxxxxxxx
LAMBDA_FUNCTION_NAME=post-deployment-setup
SSM_DOCUMENT_NAME=AWS-RunShellScript
